[Desktop Entry]
Encoding=UTF-8
Name=Link to ITK/FAQ - KitwarePublic
Type=Link
URL=http://www.itk.org/Wiki/ITK/FAQ#How_do_I_read_a_volume_from_a_DICOM_series.3F
Icon=(null)
